
    <%= form_tag posts_path, method: :get, class: "form-inline" do %>
         
          <h2>Price <%= text_field_tag :min_price, params[:min_price], placeholder: "Minimum $", class: "form-control" %> - 
          <%= text_field_tag :max_price, params[:max_price], placeholder: "Maximum $", class: "form-control" %> 
  
          State <%= select_tag(:state, options_from_collection_for_select(Location.all, :name, :name, params[:state]), { include_blank: true , class: "form-control"}) %></h2><br>
      
        <%= submit_tag "Search For Bikes", name: nil, class: "btn btn-danger btn-lg btn-block" %>
        <br>
    
    <% end %>
  

  
