<div class="filter">
    <%= form_tag posts_path, method: :get, class: "form-inline" do %>

      <div class="row">
        <div class="col-md-2"%>
          <%= label_tag "Price" %>
        </div>
       

        <div class="col-md-4">
          <%= label_tag "State" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"%>
          <%= text_field_tag :min_price, params[:min_price], placeholder: "Minimum", class: "form-control input-sm" %>
          <%= text_field_tag :max_price, params[:max_price], placeholder: "Maximum", class: "form-control input-sm" %>
        </div>
    
        <div class="col-md-4">
          <%= select_tag(:state, options_from_collection_for_select(Location.all, :name, :name, params[:state]), { include_blank: true , class: "form-control"}) %>
        </div>

      </div>

      <div class="col-md-2">
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </div>
    </div>

    
    <% end %>
  </div>

  
