<div class="container">
  <div class="filter">
    <%= form_tag posts_path, method: :get do %>
      <%= label_tag :state %>
      <%= text_field_tag :state, params[:state] %>

      <%= label_tag :price %>
      <%= text_field_tag :price, params["price"] %>

      <%= submit_tag "Search", name: nil %>

    <% end %>
  </div>


  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Heading</th>
        <th>Price</th>
        <th>State</th>
        <th>Last Updated</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.heading, post %></td>
          <td><%= number_to_currency(post.price, precision: 0) %></td>
          <td><%= post.state %></td>
          <td><%= "#{time_ago_in_words(Time.at(post.timestamp.to_i))} ago" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

  <br>

  <%= link_to 'New Post', new_post_path %>

</div>
