<div class="container">
  <%= render 'filter' %>
      <div class="row">

        <% if @posts.empty? %>
          <hr>
            <h3>Sorry No results found In this State!</h3>
              <p>Please Try Again!</p>
         <% else %>


          <tbody>
            <% @posts.each do |post| %>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                  <div class="panel panel-primary">
                      <div class="row padall">
                          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                           
                                <%= link_to post_path(post) do %>
                                  <% if post.images.empty? %>
                                     <%= image_tag "No_Image_Available_20.jpg", class: "thumbnail" %>
                                  <% else %>
                                    <%= image_tag post.images.first.url, class: "thumbnail" %>
                                  <% end %>
                                <% end %>
        
                           </div>

                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h2><%= number_to_currency(post.price, precision: 0) %></h2>
                                <h5><%= link_to post.heading, post %></h5>
                            </div>
                            <div class="pull-right">
                               
                            </div>
                        </div>
                        <div>
                            <h4><span class="fa fa-map-marker icon"></span> <%= post.state %></h4>
                            <h5>Last Updated: <%= "#{time_ago_in_words(Time.at(post.timestamp.to_i))} ago" %></h5>
                         
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      <% end %>     
     
     </div>
</div>

  

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>


</div>
<% end %>
</div>
