  <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation"> 
      <ul class="nav navmenu-nav">
         
      <div class="page-header">
      <h3>Bikes List</h3>    
      

      <p>Bikes list provides the <b>easiest</b> way to find the bike that you always wanted.</p>
  

        <h3>What it does</h3>

        <p>It gives you a wide range of bikes for sale in the USA namely, BMX bikes, road bike, folding bikes, mountain bike, and electric bikes. All of the bikes are either brand new, vintage or recently been used.</p>
  

        <h3>How it works</h3>

        <p>Enter the range of maximum and the minimum price of bikes that fall within your budget.Select the state that you want or you could just enter the state manually without entering the price.</p>

        <h3>Meet Your Bike!</h3>

        <p>This will provide a list of bikes available in each specific state you entered. More simply, you could just hit Meet Your Bike button. It’s intuitive and simple. You will be provided with a long list of bikes available in the United States.</p>




        <h3>Follow</h3>

    <br />
   
        <a class="fa fa-twitter social-icon" href="http://twitter.com/NeilP666" target="_blank"></a>
        <a class="fa fa-external-link social-icon" href="http://www.neilpatel.co" target="_blank"></a>

</div>
      </ul>
</nav>

  <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
   <i class="fa fa-info-circle"></i>
   </button>
<div class="container">
  <%= render 'filter' %>
  <br>
      <div class="row">

        <% if @posts.empty? %>
          <hr>
            <h3>Sorry No results found In this State!</h3>
              <p>Please Try Again!</p>
         <% else %>


          <tbody>
            <% @posts.each do |post| %>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                  <div class="panel panel-primary">
                      <div class="row padall">
                          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                           
                                <%= link_to post_path(post) do %>
                                  <% if post.images.empty? %>
                                     <%= image_tag "No_Image_Available_20.jpg", class: "thumbnail" %>
                                  <% else %>
                                    <%= image_tag post.images.first.url, class: "thumbnail" %>
                                  <% end %>
                                <% end %>
        
                           </div>

                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <h3><%= number_to_currency(post.price, precision: 0) %></h3>
                                <h5><%= post.heading %></h5>
                            </div>
                            <div class="pull-right">
                               <h6><i class="fa fa-search fa-2x"></i> <%= link_to "More"  , post %></h6>
                            </div>
                        </div>
                        <div>
                            <h4><span class="fa fa-map-marker icon"></span> <%= post.state %></h4>
                            <h5>Last Updated: <%= "#{time_ago_in_words(Time.at(post.timestamp.to_i))} ago" %></h5>
                         
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      <% end %>     
     
     </div>
</div>

  

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>


</div>
<% end %>
</div>
