<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header">
    <h3>
      <%= @post.heading %>
    </h3>
    <p>
      <%= link_to @post.external_url, @post.external_url %>
    </p>
  </div>

<div class="row">
  <div class="col-md-7">
    <% @images.each do |image| %>
    <%= image_tag image.url, class: "thumbnail" %>
  <% end %>
</div>

  <div class="col-md-5">
    Price: <%= number_to_currency(@post.price, precision: 0) %><br>
    Last Updated: <%= "#{time_ago_in_words(Time.at(@post.timestamp.to_i))} ago" %><br>
    
    <% if @post.state.present? %>
        State: <%= @post.state %><br>
    <% end %>

  <p>
    <%= @post.body %>
  </p>


<%= link_to 'Back', posts_path %>
</div>
  </div>
</div>
